





/* Resetando margens e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Estilo geral do corpo da página */
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d2c1af; /* Cor de fundo */
  padding: 0 20px;
}

/* Estilo do cabeçalho */
header {
  background-color: #ffffff;
  padding: 14px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2; 
}

/* Tabela */
table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 8px; /* Bordas arredondadas */
  overflow: hidden; /* Para garantir que as bordas arredondadas apareçam corretamente */
  background-color: white;
  margin-top: 20px;
}

/* Cabeçalho da tabela */
th,
td {
  padding: 12px 15px;
  text-align: left;
  font-size: 14px;
  color: #333;
  border: 1px solid #ddd;
}

/* Estilo do cabeçalho da tabela */
th {
  background-color: #7c4f39; /* Cor de fundo do cabeçalho */
  color: white;
  font-weight: 600;
}

/* Efeito hover nas linhas da tabela */
tr:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

/* Estilo da coluna de ações (botões) */
.actions {
  display: flex;
  gap: 10px;
}

/* Estilo para todos os botões de ação (Editar e Excluir) */
.actions button {
  padding: 8px 16px; /* Tamanho uniforme */
  font-size: 14px;
  border-radius: 6px; /* Borda arredondada */
  color: white;
  border: none; /* Remove a borda */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: inline-block;
  text-align: center;
  text-decoration: none; /* Remove o sublinhado */
}

/* Botão Editar */
.actions .edit {
  background-color: #ff03ea; /* Cor de fundo do botão Editar */
}

.actions .edit:hover {
  background-color: #ff0077; /* Cor de fundo ao passar o mouse */
  transform: scale(1.05); /* Efeito de aumento */
}

/* Botão Excluir */
.actions .delete {
  background-color: #3b2523; /* Cor de fundo do botão Excluir */
}

.actions .delete:hover {
  background-color: #6d504e; /* Cor de fundo ao passar o mouse */
  transform: scale(1.05); /* Efeito de aumento */
}

/* Adiciona o efeito de foco nos botões */
.actions button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Estilo do container da página (principal) */
.container {
  position: relative;
  max-width: 1000px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Responsividade */
@media screen and (max-width: 500px) {
  th, td {
    padding: 10px;
  }

  .actions {
    display: block;
    gap: 5px;
  }
}

/* Responsividade */
@media screen and (max-width: 500px) {
  th, td {
      padding: 10px;
  }

  .actions {
      display: block;
      gap: 5px;
  }
}
