body {
  font-family: Arial, sans-serif;
  background-color: #e5caad; 
  margin: 0;
  padding: 0;

  
}


/* Estilo do cabeçalho */
header {
  background-color: #ffffff;
  padding: 14px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2; 
  
}

/* Estilo do conteúdo do cabeçalho */
.content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex: 1;
}

/* Nome da marca */
.brand-name {
  font-family: 'Catamaran', sans-serif;
  font-size: 3vw; 
  color: #543320;
  text-decoration: none;
  font-weight: bold;
  margin-left: 2vw;
}

/* Menu de navegação */
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Lista de navegação */
.ul {
  list-style-type: none;
  padding:0;
  display: flex;
  margin: 0;
  margin-right: 3vw; 
  justify-content: flex-start; 
}

.ul li {
  margin-left: 2vw; 
  margin-top: 1.5vw;
}

.ul a {
  text-decoration: none;
  color: #7C4F39;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 600;
  padding: 10px;
  transition: 0.3s;
}

nav ul a::after {
  content: "";
  background-color: #BD966D;
  height: 3px;
  width: 0%;
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}

nav ul a:hover::after {
  width: 100%;
}