/* Reseta algumas propriedades para garantir uma boa base */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilo do container do login */
.login-container {
  background-color: #ffffff; /* Cor de fundo do formulário */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px; /* Largura do container */
  text-align: center;
}

/* Estilo do título do login */
.login-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #007bff; /* Cor do título */
}

/* Estilo da mensagem de erro */
.error-message {
  color: red;
  margin-bottom: 15px;
}

/* Estilo do formulário de login */
.login-form {
  display: flex;
  flex-direction: column;
}

/* Estilo dos campos do formulário */
.inputForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.inputForm label {
  margin-bottom: 5px; /* Espaçamento entre o rótulo e o campo */
  color: #555; /* Cor do rótulo */
}

.inputForm input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
}

/* Estilo do botão de entrada */
.botao-consulta {
  background-color: #007bff; /* Cor do botão */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.botao-consulta:hover {
  background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

/* Estilo do link de voltar ao login */
.forgot-password {
  margin-top: 15px;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;

}