body {
  font-family: Arial, sans-serif;
  background-color: #D2C1AF; 
  margin: 0;
  padding: 0;
}

/* cores do rodape */
:root {
  --color-neutral-0: #512600;
  --color-neutral-10: #907761;
  --color-neutral-30: #ffffff;
  --color-neutral-40: #f5f5f5;
  --color-footer-black:#000000;
}

header {
  background-color:#FFFFFF;
  padding: 14px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.brand-name {
  font-family: 'Catamaran', sans-serif;
  font-size: 3vw; /* Usando vw para ser responsivo */
  color: #543320;
  text-decoration: none;
  font-weight: bold;
  margin-left: 2vw; /* Usando vw para margem responsiva */
}

/* Menu de navegação */
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
  margin-right: 3vw; /* Usando vw para margem responsiva */
  justify-content: flex-start; 
}

.ul li {
  margin-left: 2vw; /* Usando vw para espaçamento responsivo */
  margin-top: 1.5vw;
}

.ul a {
  text-decoration: none;
  color: #7C4F39;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 600;
  padding: 10px;
  transition: 0.3s;
}


nav ul a::after {
  content: "";
  background-color: #BD966D;
  height: 3px;
  width: 0%;
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}

nav ul a:hover::after {
  width: 100%;
}

/* Efeito de hover no menu */
nav ul a::after {
  content: "";
  background-color: #BD966D;
  height: 3px;
  width: 0%; 
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}

nav ul a:hover::after {
  width: 100%;
}
/*fim do cabeçalho*/

/* secao topo do site */
section.topo-site {
  padding: 40px 4%; 
}

.flex {
  display: flex; 
  align-items: center; 
}

.txt-topo-site {
  flex: 1;
}

/* animacao pra imagem flutuar */
@keyframes float { 
  0%, 100% {
      transform: translateY(0); 
  }
  50% {
      transform: translateY(-10px);
  }
}

/* titulo do topo */
.topo-site h1 {
  color: #543320;
  font-size: 33px;
  line-height: 60px; 
}

/* texto descritivo no topo */
.topo-site .txt-topo-site p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555; 
}

/* espacamento do botao */
.btn-contato {
  margin-top: 20px; 
}

/* estilo do botao */
.btn-contato button {
  background-color:  #543320; 
  color: #fff; 
  border: none; 
  padding: 10px 70px;
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

/* efeito do botao */
.btn-contato button:hover {
  background-color: #734225 ; 
}

/* animacao na imagem */
.img-topo-site img {
  width: 100%; 
  height: auto;  
  max-height: none; 
  animation: float 3s ease-in-out infinite;  
}

/* estilo da area da imagem */
.img-topo-site {
  flex: 0 0 35%;  
  max-width: 330px;  
  overflow: hidden; 
}

/*fim do topo-site*/


.card-list .card-item {
  list-style: none;
}


.card-wrapper {
  max-width: 1100px;
  margin: 0 auto 35px; 
  padding: 20px 10px;
  overflow: hidden;
  padding-right: 50px; 
}

/* estilo dos cards */
.card-list .card-item .card-link {
  user-select: none;
  display: block;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

/* estilo ao arrastar */
.card-list .card-item .card-link:active {
  cursor: grabbing;
}

/* borda do card */
.card-list .card-item .card-link:hover {
  border-color: #734225;
}

/* imagem no card */
.card-list .card-link .card-imagem {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 10px;
}

/* estilo do badge */
.card-list .card-link .badge {
  color: #734225;
  padding: 8px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background-color: #eccbae;
  width: fit-content;
  border-radius: 10px;
}

.card-list .card-link .card-titulo {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}

/* setas*/
.swiper-button-next, .swiper-button-prev {
  color: #734225; 
  background-color: transparent;
  border: none; 
  font-size: 24px;
}

/* efeitos das setas */
.swiper-button-next:hover, .swiper-button-prev:hover {
  color: #0f351f; 
}

/* titulo */
.carrossel-titulo {
  color: #734225;
  font-size: 30px;
  text-align: center;
}

/* bolinhas da paginacao */
.swiper-pagination-bullet {
  background-color: #555; 
  opacity: 0.5; 
}

/* bolinha ativa */
.swiper-pagination-bullet-active {
  background-color: #0f351f; 
  opacity: 1; 
}

footer {
  width: 100%; 
  color: var(--color-neutral-40); /

}

/* conteudo do rodape */
#footer_content {
  background-color: var(--color-neutral-10); 
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem; 
  gap: 20px; 
}

#footer_contacts h1 {
  margin-bottom: 0.75rem; 
}

/* redes sociais no rodape */
#footer_social_media {
  display: flex; 
  gap: 2rem; 
  margin-top: 1.5rem;  
}

#footer_social_media .footer-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem; 
  width: 2.5rem;
  color: var(--color-neutral-40); 
  border-radius: 50%; 
  transition: all 0.4s; 
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
}

/* Efeito icones de redes sociais */
#footer_social_media .footer-link:hover {
  opacity: 0.8; 
}

/*  rede social */
#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807); 
}

#facebook {
  background-color: #4267b3; 
}

#whatsapp {
  background-color: #25d366; 
}

/* lista de links no rodape */
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none; 
}

/* links no rodapé */
.footer-list .footer-link {
  text-decoration: none;
  color: var(--color-neutral-30); 
  transition: all 0.4s; 
}

/* efeito dos links */
.footer-list .footer-link:hover {
  color: #341d08; 
}

/* Email */
#footer_subscribe {
  display: flex;
  flex-direction: column; 
  gap: 1.5rem; 
}

/* texto do formulario de inscricao */
#footer_subscribe p {
  color: var(--color-neutral-30); 
}

/* campo de inscricao */
#input_group {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0); 
  border-radius: 4px; 
}

#input_group input {
  all: unset; 
  padding: 0.75rem; 
  width: 100%; 
}

/* email */
#input_group button {
  background-color: #7f37c9; 
  border: none; 
  color: var(--color-neutral-40); 
  padding: 0px 1.25rem; 
  font-size: 1.125rem; 
  height: 100%; 
  border-radius: 0px 4px 4px 0px; 
  cursor: pointer; 
  transition: all 0.4s; 
}

/* botão para o inscricao */
#input_group button:hover {
  opacity: 0.8;
}

/* copyright */
#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0); 
  font-size: 0.9rem;
  padding: 1.5rem; 
  font-weight: 100; 
}

/* Responsividade*/

@media screen and (max-width: 768px) {
  #footer_content {
      grid-template-columns: repeat(2, 1fr); 
      gap: 15px; 
  }
  
}

/* Para telas muito pequenas (celulares) */
@media screen and (max-width: 480px) {
  #footer_content {
      grid-template-columns: 1fr; 
  }

  #footer_social_media {
      justify-content: center; 
  }

  .footer-list {
      text-align: center; 
  }

  #footer_subscribe {
      align-items: center;
  }

  #input_group {
      flex-direction: column; 
      gap: 0.5rem; 
  }

  #input_group input {
      width: 80%; 
  }

  #input_group button {
      width: 50%; 
  }
}

@media (max-width: 768px) {
  header {
      padding: 20px 10px;
      flex-direction: column;
      align-items: center; 
  }

  .menu-toggle {
      display: block;
  }

  .ul {
      display: none; 
      flex-direction: column; 
      align-items: center; 
      width: 100%;
      background-color: #ffffff;
      position: absolute;
      top: 60px; 
      left: 0;
      box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  }

  .ul.active {
      display: flex; 
  }

  .ul li {
      margin-left: 0; 
      margin-top: 10px; 
  }
}

@media (max-width: 480px) {
  header {
      padding: 20px 10px; 
      flex-direction: column;
  }
}